/*

filename: [Tanadol Baibong]

author: [Tanadol Baibong]

created: [16/04/2026]

last modified: [17/04/2026]

description: [jobs.html]

*/

body { 
    background: linear-gradient(rgb(37, 37, 37), rgb(222, 222, 222));
}

* {
    font-family: "Times New Roman", Times, serif;
}

header {
    float: top;
    font-size: 2em;
    border: 10px solid black;
    background-color: red;
    text-align: center;
}

.page {
    background-color: rgb(237, 80, 80);
    display: inline-block;
    padding: 1em;
    border: 5px solid black;
    border-radius: 15px;
    margin: 20px;
}

.look { 
    color: aliceblue;
    text-align: center;
    border-bottom: 10px dashed rgb(176, 176, 176);
    border-top: 10px dashed rgb(176, 176, 176);
    text-decoration: underline;
}

.images {  
    margin: 50px;
}

.skills {
    font-weight: bold;
    text-decoration-line: underline;
}

#job1 { 
    font-size: 18px;
    float: left;
    width: 25%;
    margin: 5em;
    padding: 5em;
    border: 10px groove red;
    background-color: rgb(213, 238, 247);
}

#architect {
    border: 2px solid black;
    border-radius: 15px;
    background-color: white;
    font-size: 35px;
    text-align: center;
    margin-bottom: 100px;
}

#job2 { 
    font-size: 18px;
    float: left;
    width: 25%;
    margin: 5em;
    padding: 5em;
    border: 10px groove red;
    background-color: rgb(213, 238, 247);

 }

 #manager {
    border: 2px solid black;
    border-radius: 15px;
    background-color: white;
    font-size: 35px;
    text-align: center;
    margin-bottom: 115px;
    
 }

 .response {
    font-weight: bold;
    text-decoration: underline;
}

 .buttons {
    width: 200px;
    height: 100px;
    text-decoration:solid;
    text-align: center;
    background-color: rgb(255, 248, 248);
    font-size: 25px;
    cursor: pointer;
    margin-top:100px;
    margin-left: 100px;
 }

 button a {
    text-decoration: none;
    color: black;
    font-weight: bold;
 }

 button:hover {
    background-color: rgb(199, 239, 214);
 }